workflow.json
{
  "name": "Gemini Prompt API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pitch",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{$json[\"text\"]}}\"\n        }\n      ]\n    }\n  ]\n}",
        "headerParametersJson": "{\n  \"Content-Type\": \"application/json\",\n  \"X-goog-api-key\": \"{{$env.GEMINI_API_KEY}}\"\n}"
      },
      "id": "gemini_api_node",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    reply: $json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]\n  }\n}];"
      },
      "id": "extract_reply_node",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "v1"
}
